.topBar{
    width: 100%;
    height: 50px;
    background-color: #003A3C;
    margin: 0px;
}

.topRow{
    height: 84%;
}

.cardTopBar{
    width: 100%;
    height: 58px;
    background-color: #22A3A9;
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 25px;
}

.infoLabelPackage{
    font-weight: 450;
}

.infoPackage{
    font-weight: normal;
}

.titleDetailTrack{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 0px;
    height: 23%;
    color: black;
}

.timelinePrincipal{
    padding-bottom: 8px;
    width: 65%;
}

.cardTitleTimeline{
    height: 15px;
    font-size: 1rem;
    font-weight: lighter;
    color: black;
}

.layoutTitleTimeline{
    height: 100%;
    font-size: 1rem !important;
    font-weight: 380 !important;
    color: black;
}

.divItemTimeline{
    width: 250px;
}