.topBar{
    width: 100%;
    height: 8%;
    background-color: #003A3C;
    margin: 0px;
}

.imgLogin{
    width: 23%;
    height: auto;
}

.cardTitle{
    text-align: center;
    justify-content: center;
}

.titleLogin{
    color: #47525E;
    font-weight: bold;
}

.btnValidate{
    color: white;
    background-color: #137073 !important;
}

.cardTitlePrincipal{
    text-align: center;
    justify-content: center;
}