.titleCard{
    font-size: 28px !important;
}

.buttonCreate{
    color: white;
    background-color: #137073 !important;
}

.buttonCancel{
    color: white;
    background-color: #137073 !important;
}

.colButton{
    text-align: center;
}

.tabTitle{
    font-size: 15px !important;
}

