.titleCard{
    font-size: 28px !important;
}

.titleDetailTrack{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 0px;
    height: 23%;
    color: black;
}
.timelinePrincipal{
    padding-bottom: 8px;
    margin-right: 0px;
}

.cardTitleTimeline{
    height: 15px;
    font-size: 1rem;
    font-weight: lighter;
    color: black;
}

.layoutTitleTimeline{
    height: 100%;
    font-size: 1rem !important;
    font-weight: 380 !important;
    color: black;
}

.divItemTimeline{
    width: 250px;
}

.divItemIconTimeline{
    width: 150px;
}

.divItemHoursTimeline{
    width: 150px;
}

.origenTitle{
    text-align: center;
    font-size: 16px;
}

.origenTitleDetail{
    font-size: 20px !important;
    font-weight: 600;
}

.buttonCancel{
    color: white;
    background-color: #137073 !important;
    
}

.colButton{
    text-align: center;
}